a {
    text-decoration: none;
    color: #000;
  }
  
  a:hover {
    text-decoration: none;
    color: #6e815d;
  }
  
  .title {
    color: #6e815d;
  }
  
  .jumbotron {
    display: flex;
    background-size: cover;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    height: 100%;
  }
  
  .nav-link {
    font-size: 13px;
    color: #000;
    margin: 2px 0;
    padding: 0;
  }
  
  .card,
  .card-img-top {
    width: 200px;
    border: 0;
    border-radius: 0;
  }
  
  .card-body {
    padding: 10px 0;
  }
  
  .card-title,
  .card-text {
    font-size: 15px;
  }
  