<script src="https://kit.fontawesome.com/442bfc2e29.js" crossorigin="anonymous"></script>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <nav class="nav flex-column">
                    <span class="title" id="support"> support </span>
                    <a class="nav-link" href="#" id="supp-item1">FAQs</a>
                    <a class="nav-link" href="#" id="supp-item2">Jewelry Care</a>
                    <a class="nav-link" href="#" id="supp-item3">Contact Us</a>
                </nav>
            </div>
            <div class="col-3">
                <nav class="nav flex-column">
                    <span class="title" id="products"> products </span>
                    <a class="nav-link" href="#" id="products-item1">Active</a>
                    <a class="nav-link" href="#" id="products-item2">Link</a>
                    <a class="nav-link" href="#" id="products-item3">Link</a>
                    <a class="nav-link" href="#" id="products-item4">Active</a>
                    <a class="nav-link" href="#" id="products-item5">Link</a>
                    <a class="nav-link" href="#" id="products-item6">Link</a>
                </nav>
            </div>
            <div class="col-3">
                <i class="fab fa-facebook" id="facebook"></i> 
                <i class="fab fa-instagram" id="instagram"></i>
                <span id="brand-name"> Juliet Manila Philippines. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>