<footer *ngIf="footer.visible">
  <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 col-md-8 mb-4 mx-auto">
          <div class="align-self-start">
            <ul class="nav flex-column">
              <h5>Support</h5>
              <li class="nav-item">
                <a class="nav-link active" href="#" routerLink="/faqs" routerLinkActive="active">Frequently Asked
                  Questions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/jewelry-care" routerLinkActive="active">Jewelry Care</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/admin" routerLinkActive="active">Admin</a>
              </li>
            </ul>
          </div>
        </div>
        <hr class="d-lg-none">
        <div class="col-lg-4 col-md-8 mb-4 mx-auto">
          <div class="align-self-start">
            <ul class="nav flex-column">
              <h5>Products</h5>
              <li class="nav-item">
                <a class="nav-link active" href="#">Necklaces</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bracelets and Anklets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Earrings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">New Arrival</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bestsellers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pressed Flower Collection</a>
              </li>
            </ul>
          </div>
        </div>
        <hr class="d-md-none">
        <div class="col-lg-4 col-md-8 my-auto mx-auto">
          <div class="ml-auto align-center">
            <i class="fab fa-instagram"></i>&nbsp;<i class="fab fa-facebook"></i><br />
            Juliet Manila Philippines. All rights reserved.
          </div>
        </div>
      </div>
  </div>
</footer>
