.container {
  padding: 80px;
}

.step-trigger {
  pointer-events: none;
}

.bs-stepper-label {
  font-weight: normal;
  color: #000;
}

input {
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #dbdbdb;
}

input:focus {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

::placeholder {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.75px;
}

.form-row {
  margin: 10px 0px;
}

.form-group {
  padding: 10px 0;
}

.btn-proceed, .btn-back:hover {
  background: #6e815d;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
}

.btn-proceed:hover, .btn-back {
  background: transparent;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #6e815d;
  width: 100%;
}

.img-responsive {
  width: 100px;
}

.img-thumbnail {
  border-radius: 0;
}

.details {
  font-size: 12px;
}

.errorMsg {
  font-size: .8vw;
  color: rgb(223, 4, 4);
}