.section-2 {
  align-items: center;
  display: flex;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card,
.card-img-top {
  width: 200px;
  border: 0;
  border-radius: 0;
}

.card-body {
  padding: 10px 0;
}

.card-title,
.card-text {
  font-size: 15px;
}

ol {
  list-style: none;
  counter-reset: item;
  padding: 0;
}

li {
  counter-increment: item;
}

li:before {
  margin: 5px 20px;
  content: counter(item);
  background: #c1ae8d;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
}

.title {
  font-family: "Playfair Display", serif;
}

@media (max-width: 479px) {
  button {
    text-align: left;
  }
}
@media (max-width: 320px) {
  img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }

  .card-body {
    text-align: center;
  }

  button {
    text-align: left;
  }
}