<nav *ngIf="nav.visible"></nav>
<ribbon *ngIf="ribbon.visible"></ribbon>
<footer *ngIf="footer.visible"></footer>

<div class="jumbotron">
  <div class="container">
    <h3 class="title title-border text-center mb-5">
      Frequently Asked Questions
    </h3>
    <div class="accordion" id="accordion">
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Placing an order
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingOne"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            <ol>
              <li>Go to our website.</li>
              <li>
                Choose a product you want to buy then click
                <strong>Add to Cart.</strong>
              </li>
              <li>Proceed to checkout.</li>
              <li>
                Enter your personal information and complete shipping details.
              </li>
              <li>
                Select Cash on Delivery, Bank Deposit, or GCash as Payment
                option.
              </li>
              <li>
                Place your order. We'll get notified and we'll process your
                order for shipment.
              </li>
              <li>Wait 3-7 days before you receive your order.</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Cancel Order
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            Once order has been checked out, cancellation is
            <strong>not possible</strong> on customer’s end. You can send us a
            message on Facebook to cancel your order. We can cancel your order
            as long as the item was not shipped and tracking number is not yet
            generated.
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Payment methods
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingThree"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            We accept Cash on Delivery and you can also pay through GCash. You
            may also use Bank Deposit. Online transfers are accepted.
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            How long should I wait for my order to arrive?
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingFour"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            <p>
              Shipping will take 3-14 days depending on your location. Please
              take note that our shipping and delivery service is handled by a
              third party courier, whether it would be J&T Express, LBC, GoGo
              Express, Ninja Van, etc. We do not hold or control the time of the
              delivery once it’s in transit status. The couriers do not deliver
              during Holidays.
            </p>
            There are instances that shipping time may take longer than what we
            stated because of the following reasons:
            <ol class="mt-2">
              <li>Bottlenecks in shipping.</li>
              <li>Incomplete shipping address.</li>
              <li>
                Area not covered via COD or area is considered as remote area.
              </li>
              <li>Unreachable mobile number.</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            Can I change my shipping information?
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingFive"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            You can send us a message on Facebook if you would like to change or
            update something in your shipping information. Please take note that
            once the order has been processed or shipped we can no longer change
            anything in the shipping information.
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingSix">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            How can I reach your customer support?
          </button>
        </h2>
        <div
          id="collapseSix"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingSix"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            You can send a message on Facebook and Instagram @juliet.mnl.ph
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingSeven">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            What are your products made of?
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            Most of our products are made of stainless steel material. Material
            used is stated in every product’s description.
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingEight">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseEight"
            aria-expanded="false"
            aria-controls="collapseEight"
          >
            Are your products non-tarnish?
          </button>
        </h2>
        <div
          id="collapseEight"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingEight"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            As with all jewelry that is not made of solid gold or silver, they
            will tarnish over time. They can last longer with proper care. Check
            out our “Jewelry Care” to know how.
          </div>
        </div>
      </div>
      <div class="accordion-item border-bottom">
        <h2 class="accordion-header" id="headingNine">
          <button
            class="accordion-button collapsed text-uppercase"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseNine"
            aria-expanded="false"
            aria-controls="collapseNine"
          >
            Are they hypoallergenic?
          </button>
        </h2>
        <div
          id="collapseNine"
          class="accordion-collapse collapse border-top"
          aria-labelledby="headingNine"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body">
            Stainless steel jewelry are generally considered hypoallergenic.
            However, It is advisable to take them off before showering or
            sleeping.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-2">
  <div class="container">
    <h5 class="mb-5 text-center">You might like</h5>
    <div class="d-flex flex-row justify-content-center">
      <div class="card m-2">
        <img src="https://i.imgur.com/HGYgGAq.jpg" class="card-img-top" />
        <div class="card-body">
          <div class="card-text">Sol and Luna Necklace</div>
          <div class="card-title">Php 250</div>
        </div>
      </div>
      <div class="card m-2">
        <img src="https://i.imgur.com/gEdYbSe.jpg" class="card-img-top" />
        <div class="card-body">
          <div class="card-text">Sol and Luna Necklace</div>
          <div class="card-title">Php 250</div>
        </div>
      </div>
      <div class="card m-2">
        <img src="https://i.imgur.com/0S1pVTu.png" class="card-img-top" />
        <div class="card-body">
          <div class="card-text">Sol and Luna Necklace</div>
          <div class="card-title">Php 250</div>
        </div>
      </div>
      <div class="card m-2">
        <img src="https://i.imgur.com/jeBLPq1.jpg" class="card-img-top" />
        <div class="card-body">
          <div class="card-text">Sol and Luna Necklace</div>
          <div class="card-title">Php 250</div>
        </div>
      </div>
    </div>
  </div>
</div>
