<div class="jumbotron section-1">

</div>
<div class="container">
  <h1 class="card-title text-uppercase mt-5 text-center"> Frequently Asked Questions </h1>
  <div class="accordion accordion-flush mt-5 mb-5" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          How to Order?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Just follow these simple steps in ordering your desired item.
          <ol>
            <li> Go to our website. </li>
            <li> Choose a product you want to buy then click "Add to cart." </li>
            <li> Proceed to checkout. Select Cash on Delivery / Bank Deposit / GCash as Payment option. </li>
            <li> Enter your complete shipping details. </li>
            <li> That's it! we'll get notified and we'll process your order for shipment. </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          How to cancel an order?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li> Once order has been checked out, cancellation is not possible on customer's end. You can send us a
              message on Facebook to cancel your order. </li>
            <li> We can cancel your order as long as the item was <strong> not shipped and tracking number is not yet
                generated. </strong></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          What is the payment method?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li> We accept <strong> Cash on Delivery </strong> and you can also pay through GCash.</li>
            <li> You may also use <strong>Bank Deposit.</strong> Online transfers are also accepted. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          How long should I wait for my order to arrive?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li> Shipping will take <strong>3-14</strong> days depending on your location. </li>
            <li> Please take note that our shipping and delivery service is handled by a <strong>third-party</strong>
              courier, whether it would be J&T Express, LBC, GoGo Express, Ninja Van, etc. We <strong> do not hold or
                control </strong> the time of the delivery once it's in transit status.</li>
            <li> The couriers <strong> do not </strong> deliver during <strong>holidays.</strong></li>
          </ul>
          There are instances that shipping times <strong> may take longer </strong> than what we stated because of
          these following reasons:
          <ul>
            <li> Bottlenecks in shipping. </li>
            <li> Incomplete shipping address. </li>
            <li> Area not covered via COD or area is considered as remote areas. </li>
            <li> Unreachable mobile number. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          Can I change change my shipping information?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li> You can send us a message on Facebook if you would like to <strong> change or update </strong>
              something in your shipping information.</li>
            <li> Please take note that once the order has been <strong> processed or shipped, </strong> we can <strong>
                no longer change </strong> anything in the shipping information. </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          How can I contact you? / How can I reach your customer support?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
        data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <ul>
            <li> You can send a message on Facebook and Instagram <strong>@juliet.mnl.ph.</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
