<form class="mx-auto mt-5">
  <div class="container" id="contact">
    <h3 class="text-center text-uppercase" id="title"> contact us </h3>
    <p class="text-center" id="msg">
      We love to hear from you! For inquiries,
      <br>
      feel free to leave us a message.
      <br> <br>
      <strong class="text-capitalize">Email:</strong> juliet.mnl.ph@gmail.com
    </p>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" required>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name" required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Contact Number" required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="email" class="form-control " placeholder="Email address" required>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <textarea class="form-control" placeholder="Message" required id="text-area"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="submit" class="text-uppercase d-grid col-6 mx-auto mb-5" id="enter"> submit </button>
    </div>
  </div>
</form>
