form {
  position: relative;
  width: 500px;
  height: 700px;
}


form .row {
  padding: 10px;

}

input, textarea {
  border: 1px solid #6E815D;
  box-sizing: border-box;
  border-radius: 10px;
}

::placeholder {
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  color: black;
}

#enter {
  position: relative;
  width: 245px;
  height: 50px;
  background: #6E815D;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  color: white;
}

#text-area {
  height: 200px;
}