<div *ngIf="!isMobile">
  <nav *ngIf="nav.visible"></nav>
  <ribbon *ngIf="ribbon.visible"></ribbon>
  <footer *ngIf="footer.visible"></footer>

  <div class="jumbotron">
    <div class="container text-center">
      <form>
        <div class="form-row">
          <div class="col">
            <h3 class="title title-border text-center mb-5">Contact Us</h3>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <p>
              We'd love to hear from you! For inquiries, feel free to leave us a
              message.
            </p>
            <p>Email: juliet.mnl.ph@gmail.com</p>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Contact number" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email address" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="submit" class="btn btn-submit" value="Submit" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isMobile">
  <!-- start coding here for mobile view -->
  <div class="jumbotron">
    <div class="container text-center">
      <form>
        <div class="form-row">
          <div class="col">
            <h3 class="title title-border text-center mb-5">Contact Us</h3>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <p>
              We'd love to hear from you! For inquiries, feel free to leave us a
              message.
            </p>
            <p>Email: juliet.mnl.ph@gmail.com</p>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Contact number" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email address" />
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <textarea class="form-control" placeholder="Message"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <input type="submit" class="btn btn-submit" value="Submit" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
