.title { font-weight: bold; color: #6E815D; }

p { font-size: large; }

.row { padding: 30px 0px; }

.jumbotron {
    align-items: center;
    display: flex;
    background-size: cover;
    background-color: #fff;
    margin: 0;
    border-radius: 0;
    width: 100%;
}

.section-1 {
    height: 50vh;
    background-image: url(https://images.unsplash.com/photo-1547738238-5ddb16bef15f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    color: #fff;
}

.section-2 {
    overflow: hidden;
    margin: auto;
    height: 100%;
    width: 50em;
    color: #000;
}

.img-thumbnail {
    border: 10px solid #fff;
    border-radius: 0;
}

.btn-shop-now {
    background: #6E815D;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
}

