h1, h2, h3, h4, h5 {
    font-weight: bold;
}

body {
    overflow-x: hidden;
}

p {
    font-family: 'Lora', sans-serif;
    font-size: larger;
}

.row {
    padding: 30px 0px;
}

.img-thumbnail {
    border: 10px solid #fff;
    border-radius: 0;
}

.btn-shop-now {
    background: #6E815D;
    padding: 15px;
    border-radius: 10px;
    border: 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
}

.jumbotron {
    align-items: center;
    display: flex;
    background-size: cover;
    color: #fff;
    width: 100%;
}

.section-1 {
    height: 90vh;
    background-image: url(https://images.unsplash.com/photo-1547738238-5ddb16bef15f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    color: #fff;
}

.section-2 {
    overflow: hidden;
    margin: auto;
    height: 90vh;
    width: 40em;
    color: #000;
}

.section-3 {
    overflow: hidden;
    margin: auto;
    height: 100vh;
    color: #000;
    background-color: #E7EDEB;
}

.section-4 {
    overflow: hidden;
    margin: auto;
    height: 70vh;
    width: 70em;
    color: #000;
}

.section-5 {
    height: 120vh;
    color: #000;
}