<main role="main">

    <section class="jumbotron section-1 text-center">
        <div class="container">
            <h1>Wear something unique.<br>Chic doesn't have to be expensive.</h1>
        </div>
    </section>

    <section class="jumbotron section-2 text-center">
        <div class="container">
            <h1 class="text-uppercase">Who we are</h1>
            <p>Juliet is a retail store that offers stylish jewelries and accessories with varieties to choose from. The products are delicately made to give them a wonderful touch of art aesthetics and a glow of elegance.</p>
            <p>We make sure that we offer affordable pieces without compromising the quantity. As the brand would suggest, wearing something unique and chic doesn’t have to be expensive. And yet, our pieces are carefully made to bring out the sophistication and confidence of our customers who wear them.</p>
        </div>
    </section>

    <section class="jumbotron section-3">
        <div class="container">
            <div class="row d-flex">
                <div class="col px-5     align-self-center">
                    <p><i style="color: #C1AE8D; font-weight: bold;">Juliet</i> specializes in handcrafted jewelries, particularly the pressed flower necklaces. With a well-thought out designs for each piece, no wonder it became the customer’s favorite. Significantly, Juliet has a relentless drive for innovating different styles and designs wherein we aim not just to capture the people’s attention, but also their hearts.</p>
                    <p>Here in <i style="color: #C1AE8D; font-weight: bold;">Juliet</i>, we are dedicated in giving you the best of our products. We hope for your satisfaction upon receiving them as much as how we are fulfilled by delivering them to you.</p>
                </div>
                <div class="col px-5 align-self-center">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1602612996819-3cd306f68b4e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" class="img-fluid img-thumbnail w-100">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    <section class="jumbotron section-4 text-center">
        <div class="container">
            <h2>Our mission is to create and offer beautiful, elegant, and vintage style pieces that will compliment everyone’s outfit for an affordable price.</h2>
            <a href="#" class="btn btn-shop-now mt-5">Shop now</a>
        </div>
    </section>

    <section class="jumbotron section-5">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col">
                    <img class="text-center" src="https://images.unsplash.com/photo-1546938576-04917ec516ee?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" width="600px">
                    <h2 class="mt-3 text-uppercase">Shop Necklaces</h2>
                </div>
                <div class="col">
                    <img class="text-center" src="https://images.unsplash.com/photo-1581067721837-e4809b29692d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" width="600px">
                    <h2 class="mt-3 text-uppercase">Shop Bracelets</h2>
                </div>
            </div>
        </div>
    </section>

</main>