<div *ngIf="!isMobile">
  <nav *ngIf="nav.visible"></nav>
  <ribbon *ngIf="ribbon.visible"></ribbon>
  <footer *nfIf="footer.visible"></footer>

  <main role="main">
    <div class="jumbotron section-1"></div>

    <div class="jumbotron section-2" data-aos="fade-right" data-aos-duration="500">
      <div class="container">
        <h3 class="title title-border text-center mb-5">About Us</h3>
        <p>
          Juliet is a retail store that offers stylish jewelries and accessories
          with varieties to choose from. The products are delicately made to
          give them a wonderful touch of art aesthetics and a glow of elegance.
        </p>
        <p>
          We make sure that we offer affordable pieces without compromising the
          quantity. As the brand would suggest, wearing something unique and
          chic doesn’t have to be expensive. And yet, our pieces are carefully
          made to bring out the sophistication and confidence of our customers
          who wear them.
        </p>
        <p>
          Juliet specializes in handcrafted jewelries, particularly the pressed
          flower necklaces. With a well-thought out designs for each piece, no
          wonder it became the customer’s favorite. Significantly, Juliet has a
          relentless drive for innovating different styles and designs wherein
          we aim not just to capture the people’s attention, but also their
          hearts.
        </p>
        <p>
          Here in Juliet, we are dedicated in giving you the best of our
          products. We hope for your satisfaction upon receiving them as much as
          how we are fulfilled by delivering them to you.
        </p>
      </div>
    </div>

    <div class="jumbotron" data-aos="fade-up" data-aos-duration="1200">
      <div class="container">
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2">
            <a routerLink="/shop/category/Necklaces">
              <div class="img-hover-zoom">
                <img src="https://i.imgur.com/IcZOQ6L.jpg" class="img-fluid" />
              </div>
              <div>
                <h6 class="text-uppercase text-center mt-3">Shop Necklaces</h6>
              </div>
            </a>
          </div>
          <div class="p-2">
            <a routerLink="/shop/category/Earrings">
              <div class="img-hover-zoom">
                <img src="https://i.imgur.com/Sf1cid0.jpg" class="img-fluid" />
              </div>
              <div>
                <h6 class="text-uppercase text-center mt-3">Shop Earrings</h6>
              </div>
            </a>
          </div>
          <div class="p-2">
            <a routerLink="/shop/category/Bracelets-Anklets">
              <div class="img-hover-zoom">
                <img src="https://i.imgur.com/aDlziCg.jpg" class="img-fluid" />
              </div>
              <h6 class="text-uppercase text-center mt-3">
                Shop Bracelets and Anklets
              </h6>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" id="back-to-top" class="back-to-top" style="display: inline;">
      <i class="fa fa-arrow-up pt-3 pl-2 ml-2"></i>
    </a>
  </main>
</div>

<div *ngIf="isMobile">
  <div class="jumbotron section-2">
    <div class="container">
      <h3 class="title title-border text-center mb-5">About Us</h3>
      <p>
        Juliet is a retail store that offers stylish jewelries and accessories
        with varieties to choose from. The products are delicately made to
        give them a wonderful touch of art aesthetics and a glow of elegance.
      </p>
      <p>
        We make sure that we offer affordable pieces without compromising the
        quantity. As the brand would suggest, wearing something unique and
        chic doesn’t have to be expensive. And yet, our pieces are carefully
        made to bring out the sophistication and confidence of our customers
        who wear them.
      </p>
      <p>
        Juliet specializes in handcrafted jewelries, particularly the pressed
        flower necklaces. With a well-thought out designs for each piece, no
        wonder it became the customer’s favorite. Significantly, Juliet has a
        relentless drive for innovating different styles and designs wherein
        we aim not just to capture the people’s attention, but also their
        hearts.
      </p>
      <p>
        Here in Juliet, we are dedicated in giving you the best of our
        products. We hope for your satisfaction upon receiving them as much as
        how we are fulfilled by delivering them to you.
      </p>
    </div>
  </div>
  <section class="jumbotron text-center">
    <div class="container">
      <img src="https://i.imgur.com/IcZOQ6L.jpg" width="500px" class="img-fluid" />
      <div class="btm-left">
        <h6 class="text-uppercase text-center mt-3">Shop Necklaces</h6>
      </div>
      <img src="https://i.imgur.com/Sf1cid0.jpg" width="500px" class="img-fluid" />
      <div class="btm-left">
        <h6 class="text-uppercase text-center mt-3">Shop Earrings</h6>
      </div>
      <img src="https://i.imgur.com/aDlziCg.jpg" width="500px" class="img-fluid" />
      <div class="btm-left">
        <h6 class="text-uppercase text-center mt-3">Shop Bracelets and Anklets</h6>
      </div>
    </div>
  </section>
  <a href="#" id="back-to-top" class="back-to-top" style="display: inline;">
    <i class="fa fa-arrow-up pt-3 pl-2 ml-2"></i>
  </a>
</div>
