<div *ngIf="!isMobile">
  <nav *ngIf="nav.visible"></nav>
  <ribbon *ngIf="ribbon.visible"></ribbon>
  <footer *ngIf="footer.visible"></footer>

  <div class="jumbotron my-5">
    <div class="container text-center">
      <h3 class="display-5"> Thank you for ordering! </h3>
      <p> There is nothing that makes us happier than people appreciating all the hard work we do and the effort we
        invest in making our clients happy. Thank you for your order and for your immense trust.</p>
      <p> You'll receive an email confirmation soon. </p>
      <a class="btn btn-primary" href="#" role="button">Back to home</a>
    </div>
  </div>
</div>
