.jumbotron {
  height: 100%;
  background-color: transparent;

}

.container {
  width: 50rem;
}

h3 {
  font-size: 35px;
}

h3, p{
  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: center;
}

.btn-primary {
  background: #6e815d;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff; 
  
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

.btn-primary:hover {
  background: transparent;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #6e815d;
}
