<nav *ngIf="nav.visible">
  <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center pt-3 pb-3 bg-1">
    <div class="mx-auto">
      <img src="https://i.imgur.com/2diJpU5.png" width="50px" />
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center bg-2">
    <ul>
      <div class="navbar align-self-center">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
        <li>
          <a routerLink="/bestsellers" routerLinkActive="active">Bestsellers</a>
        </li>
        <li>
          <a routerLink="/discover" routerLinkActive="active">Discover</a>
        </li>
        <li>
          <a routerLink="/about-us" routerLinkActive="active">About Us</a>
        </li>
      </div>
    </ul>
  </div>
</nav>
