.navbar {
  padding: 1vw 0;
  transition: 0.1s all ease-in;
  border: none;
  text-decoration: none;
  text-align: center;
}

.navbar a {
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin: 0 2vw;
  transition: .1s all ease-in-out;
}
.navbar a:hover {
  color: #6e815d;
}
.navbar a.active {
  color: #6e815d;
}

ul {
  margin: 0 auto;
  align-items: center;
  list-style-type: none;
}

.navbar-toggler {
  color: #ffffff;
}
