<nav *ngIf="nav.visible">
  <nav class="navbar navbar-expand-md shadow-sm">
    <div class="container-fluid">
      <button class="navbar-toggler navbar-dark bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
        aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/shop" routerLinkActive="active">Shop</a>
          </li>
          <li class="nav-item">
            <a routerLink="/bestsellers" routerLinkActive="active">Bestsellers</a>
          </li>
          <li class="nav-item">
            <a routerLink="/discover" routerLinkActive="active">Discover</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</nav>