.navbar {
  padding: 1vh 0;
  transition: 0.1s all ease-in;
  border: none;
  text-decoration: none;
  text-align: center;
}

.navbar a {
  font-size: 15px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  margin: 0 2vw;

}

ul {
  margin: 0 auto;
  align-items: center;
  list-style-type: none;
}

.navbar-toggler {
  color: #ffffff;
}
