.navbar {
  padding: 1vh 0;
  transition: 0.1s all ease-in;
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: #c1ae8d;
}

.navbar a {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin: 0 2vw;
}

.navbar-toggler {
  color: #ffffff;
}

ul {
  margin: 0 auto;
  align-items: center;
  list-style-type: none;
}

.subtitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}
