.container-fluid {
  padding: 7px;
  color: #fff;
  background-color: #6e815d;
  font-size: 1.2vw;
  font-family: Work Sans;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  text-align: center;

}
