.section {
  align-items: center;
  display: flex;
  background-size: cover;
  height: 90vh;
  overflow-x: hidden;
  width: 100%;
}

.title {
  font-family: "Playfair Display", serif;
  margin-bottom: 100px;
}

.title-border {
  position: relative;
  display: block;
}

.title-border:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 15px auto;
  width: 50px;
  height: 1px;
  background: #aaa;
}

/* .media {
  width: 25em;
  margin: auto;
} */

.card,
.card-img-top {
  width: 200px;
  border: 0;
  border-radius: 0;
}

.card-body {
  padding: 10px 0;
}

.card-title,
.card-text {
  font-size: 15px;
}

/* @media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {}

@media (max-width: 479px) {
  p {
    font-size: 11pt;
    width: 70%;
  }

  .row {
    margin: 0 20px 0;
  }
}


@media(max-width: 320px) {
  p {
    font-size: 10pt;
    width: 60%;
  }

  .row {
    margin: 0 10px 0;
  }
} */
