<div class="jumbotron section-1">

</div>

<section class="jumbotron section-2">
  <div class="container">
    <h1 class="title text-center text-uppercase mx-auto mt-5 mb-5"> jewelry care </h1>
    <div class="row mt-5">
      <div class="col text-center">
        <img class="rounded" src="../../assets/images/Luxury.png" data-holder-rendered="true" width="200px">
        <div class="container mt-3">
          <p>Keep your jewelry dry and store it in the provided ziplock bag or in an air tight jewelry box.</p>
        </div>
      </div>
      <div class="col text-center">
        <img class="rounded" src="../../assets/images/Food.png" data-holder-rendered="true" width="200px">
        <div class="container mt-3">
          <p>Keep your jewelry away from skin care products.</p>
        </div>
      </div>
      <div class="col text-center">
        <img class="rounded" src="../../assets/images/Perfume.png" data-holder-rendered="true" width="200px">
        <div class="container mt-3">
          <p>Avoid exposure to chemicals and liquids like perfume, water or alcohol.</p>
        </div>
      </div>
    </div>
  </div>
</section>
