<section class="jumbotron section-1">
  <div class="container">
    <div class="row">
      <div class="col" id="col-1">
      </div>
      <div class="col">
        <h1 class="text-center text-uppercase mt-5" id="jewelry">jewelry care
        </h1>
      </div>
    </div>
  </div>
</section>


<section class="jumbotron section-2">
  <div class="container">
    <div class="row mt-5">
      <div class="col text-center">
        <img class="rounded" src="../../assets/images/Luxury.png" data-holder-rendered="true" width="200px">
        <div class="container mt-3">
          <p>Keep your jewelry dry and store it in the provided ziplock bag or in an air tight jewelry box.</p>
        </div>
      </div>
      <div class="col text-center">
        <img class="rounded" src="../../assets/images/Food.png" data-holder-rendered="true" width="200px">
        <div class="container mt-3">
          <p>Keep your jewelry away from skin care products.</p>
        </div>
      </div>
      <div class="col text-center">
        <img class="rounded" src="../../assets/images/Perfume.png" data-holder-rendered="true" width="200px">
        <div class="container mt-3">
          <p>Avoid exposure to chemicals and liquids like perfume, water or alcohol.</p>
        </div>
      </div>
    </div>
  </div>
</section>
