<div class="container-fluid">
    <div class="row title">
        <div class="d-flex justify-content-between">
            <div><h3>Your Cart</h3></div>
            <div><h5>Continue Shopping</h5>  </div>
        </div>
    </div>
    <div class="row cart-items">
        <div class="col">
            <hr>
            <div class="row">
                <div class="col m-0">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1603561591411-07134e71a2a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" class="w-100">
                    </picture>
                </div>
                <div class="col d-flex flex-column m-0">
                    <div class="mb-auto p-2">
                        <p>
                            Sol and Luna Necklace <br>
                            Size 6
                        </p>
                    </div>
                    <div class="p-2 align-self-end">
                        <h5>PHP 250</h5>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col m-0">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1603561591411-07134e71a2a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" class="w-100">
                    </picture>
                </div>
                <div class="col d-flex flex-column m-0">
                    <div class="mb-auto p-2">
                        <p>
                            Sol and Luna Necklace <br>
                            Size 6
                        </p>
                    </div>
                    <div class="p-2 align-self-end">
                        <h5>PHP 250</h5>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="col">
            <hr>
            <div class="d-flex justify-content-between">
                <div>Sol and Luna Necklace</div>
                <div><b>PHP 250</b></div>
            </div>
            <div class="d-flex justify-content-between">
                <div>Sol and Luna Necklace</div>
                <div><b>PHP 250</b></div>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="text-uppercase"><h5>Base Total</h5></div>
                <div><h5>PHP 500</h5></div>
            </div>
            <a routerLink="/checkout" class="btn btn-checkout">Proceed to Checkout</a>
        </div>
    </div>
</div>