select { font-size: 12px; width: 70px; border-radius: 0; }

.section {
    display: flex;
    background-size: cover;
    height: 100%;
    padding: 90px 80px;
}

.btn-proceed {
    background: #6E815D;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.img-responsive { width: 100px; }

.img-thumbnail { border-radius: 0; }

.details { font-size: 12px; }

.card { border-radius: 0; font-size: 13px; }