.card,
input {
  border-radius: 0;
}

select {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  border-radius: 0;
  width: 14pc;
}

.subtitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.btn-juliet {
  background: #6e815d;
  padding: 8px 15px;
  margin: 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.75px;
}

.btn-juliet:hover {
  background: transparent;
  padding: 8px 15px;
  margin: 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #6e815d;
  letter-spacing: 0.75px;
}