<div class="d-flex justify-content-between align-items-center flex-wrap">
  <h3>Orders</h3>
  <form class="form-inline">
    <input class="form-control mr-2" type="search" placeholder="Search" />
    <button class="btn btn-juliet my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
<div *ngIf="orders$">
  <div class="card my-2" *ngFor="let order of orders$; let i = index">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="card-text">
          <div class="subtitle">{{ order.datePurchased | date }}</div>
          <div class="card-title p-0 m-0">
            {{ order.firstName }} {{ order.lastName }}
          </div>
          {{ order.email }} <br />
          Php {{ order.totalPrice }} <br>
          Shipping Method {{ order.shippingMethod }} <br>
        </div>
        <div class="align-self-start">
          <select class="form-select">
            <option selected value="" disabled>Update Status</option>
            <option>For Delivery</option>
            <option>Pending Payment</option>
            <option>Transaction Complete</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
