/*
.navbar {
    padding: 2vh 0; 
    transition: 0.1s all ease-in;
    border: none;
    text-decoration: none;
    text-align: center;
}
.navbar a {
    font-size: medium;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 2vw;
}
ul {
    margin: 0 auto;
    align-items: center;
    list-style-type: none;
}
*/
.admin-main-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #6E815D;
  width: 20%;
  height: 120vh;
}

.adminContent {
  overflow: auto;
  width: 80%;
  height: auto;
  margin: 0;
}

span, a {
  font-family: Work Sans;
  font-style: normal;
  color: #ffffff;
}
