a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #6e815d;
}

.nav-link {
  font-size: 20px;
  color: #000;
  margin: 15px 15px;
  padding: 0;
}

.nav {
  width: 15em;
  height: 100%;
  background: #c1ae8d;
}
