<!--
<form novalidate #loginForm="ngForm" (ngSubmit)="logout()">
    <button type="submit">Logout</button>
</form>
-->
<!--
<div class="container-fluid d-flex justify-content-center shadow-sm">
  <ul>
      <div class="navbar align-self-center">
          <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
          <li><a routerLink="/admin/adminProduct" routerLinkActive="active">CMS</a></li>
      </div>
  </ul>
</div>
-->
<div class="admin-main-container">
  <div class="sidebar">
    <nav class="nav flex-column">
      <span class="text-uppercase ml-4 mt-5"> menu </span>
      <a class="nav-link fs-4 ml-3" routerLink="/admin/adminProduct" routerLinkActive="active">Dashboard</a>
      <a class="nav-link fs-4 ml-3" routerLink="/admin/adminProduct" routerLinkActive="active">Orders</a>
      <a class="nav-link fs-4 ml-3" routerLink="/admin/adminStock" routerLinkActive="active">Stock</a>
      <span class="text-uppercase ml-4 mt-5"> modify </span>
      <a class="nav-link fs-4 ml-3" routerLink="/admin/adminProduct" routerLinkActive="active">Products</a>
      <a class="nav-link fs-4 ml-3 mb-5" routerLink="/admin/adminProduct" routerLinkActive="active">Featured</a>
    </nav>
  </div>
  <div class="adminContent">
    <router-outlet></router-outlet>
  </div>
</div>
