<!--
<form novalidate #loginForm="ngForm" (ngSubmit)="logout()">
    <button type="submit">Logout</button>
</form>
-->
<!--
<div class="container-fluid d-flex justify-content-center shadow-sm">
  <ul>
      <div class="navbar align-self-center">
          <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
          <li><a routerLink="/admin/adminProduct" routerLinkActive="active">CMS</a></li>
      </div>
  </ul>
</div>
-->
<div class="admin-main-container">
  <div class="sidebar"> <!-- sidebar -->
    <nav class="nav flex-column">
      <a class="nav-link" routerLink="/admin/adminStock" routerLinkActive="active">Stock</a>
      
      <a class="nav-link" routerLink="/admin/adminProduct" routerLinkActive="active">Products</a>
      
    </nav>
  </div>
  <div class="adminContent">
    <router-outlet></router-outlet>
  </div>
</div>
