<div *ngIf="!isMobile">
  <nav *ngIf="nav.visible"></nav>
  <ribbon *ngIf="ribbon.visible"></ribbon>
  <footer *ngIf="footer.visible"></footer>
  <div class="container" *ngIf="product">
    <div class="row section-1">
      <div class="col">
        <img src="https://i.imgur.com/HGYgGAq.jpg" width="450px" />
      </div>
      <div class="col">
        <form [formGroup]="orderForm">
        <h5>{{ product.name }}</h5>
        <p>
          <!--<b>Material</b> Gold Plated Copper <br />-->
          <b>Inclusion</b> Juliet Canvas Pouch <br />
          100% Handcrafted
        </p>
        <h5 class="mb-4">Php {{ product.price }}</h5>
        <h5 class="mb-4" style="color: red;" *ngIf="product.stock_quantity==0">Out of stock</h5>
        <p>Select Size:</p>
        <select class="form-select" formControlName="selectedOption">
          <option value="{{ prodSize }}" *ngFor="let prodSize of product.sizes">
            {{ prodSize }}"
          </option>
        </select>
        <!--
        <a 
          routerLink="/cart"
          class="btn btn-add-to-cart"
          (click)="addToCart(product)"
          >Add to Cart</a>
          -->
          <button type="submit" class="btn-add-to-cart" [disabled]="orderForm.invalid || product.stock_quantity == 0" (click)="addToCart(product)">
            Complete Purchase
          </button>
        </form>
        <p><b>Note</b> Check the last photo for measuring guide.</p>
      </div>
    </div>
  </div>

  <div class="section-2">
    <div class="container">
      <p-carousel
        [value]="products$"
        styleClass="custom-carousel"
        [numVisible]="4"
        [numScroll]="1"
        [circular]="false"
        [autoplayInterval]="3000"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template pTemplate="header">
          <h5 class="mb-5 text-center">You might also like</h5>
        </ng-template>
        <ng-template let-product pTemplate="item">
          <div class="d-flex flex-row justify-content-center">
            <div class="product-item">
              <div class="product-item-content">
                <div class="card">
                  <img
                    src="https://i.imgur.com/jeBLPq1.jpg"
                    class="card-img-top desktop-card-img img-fluid"
                  />
                  <div class="card-body">
                    <div class="card-text">
                      {{ product.name }} <br />Php {{ product.price }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<div *ngIf="isMobile">
  <!-- start coding here for mobile view -->
  <div class="container" *ngIf="product">
    <div class="row section-1">
        <img src="https://i.imgur.com/HGYgGAq.jpg" class="img-fluid" />
      <div class="col">
        <h1>{{ product.name }}</h1>
        <!-- <p>
          <b>Material</b> Gold Plated Copper <br />
          <b>Inclusion: </b> Juliet Canvas Pouch <br />
          100% Handcrafted
        </p> -->
        <ul>
          <li><b>Material: </b> Gold Plated Copper</li>
          <li><b>Inclusion: </b> Juliet Canvas Pouch</li>
        </ul>
        <h5 class="mb-4">Php {{ product.price }}</h5>
        <select class="form-select" [(ngModel)]="selectedOption">
          <option selected value="undefined" hidden>Chain length</option>
          <option value="{{ prodSize }}" *ngFor="let prodSize of product.sizes">
            {{ prodSize }}"
          </option>
        </select>
        <a
          routerLink="/cart"
          class="btn btn-add-to-cart"
          (click)="addToCart(product)"
          >Add to Cart</a
        >
        <p><b>Note: </b> Check the last photo for measuring guide.</p>
      </div>
    </div>
  </div>
</div>
