<div class="container">
    <div class="row section">
        <div class="col">
            <picture>
                <img src="https://images.unsplash.com/photo-1603561591411-07134e71a2a9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" class="w-100">
            </picture>
        </div>
        <div class="col">
            <h3>Sol and Luna Necklace</h3>
            <hr>
            <p>
                <b>Material</b> Gold Plated Copper <br>
                <b>Inclusion</b> Juliet Canvas Pouch <br>
                100% Handcrafted
            </p>
            <hr>
            <h3>PHP 199</h3>
            <select class="form-select" aria-label=".form-select-sm example">
                <option selected disabled>Select Size</option>
                <option value="1">Bracelets</option>
                <option value="2">Necklaces</option>
                <option value="3">Bestsellers</option>
                <option value="3">New Arrival</option>
            </select>
            <a routerLink="/cart" class="btn btn-add-to-cart">Add to Cart</a>
            <div class="text-muted"><b>Note</b> Check the last photo for measuring guide.</div>
        </div>
    </div>

</div>