.section {
  align-items: center;
  display: flex;
  background-size: cover;
  height: 80vh;
  padding: 0 150px;
}

p {
  font-size: 13px;
}

select {
  border-radius: 0;
}

.col {
  margin: 0 10px;
}

.btn-add-to-cart {
  background: #6e815d;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
}

.btn-add-to-cart:hover {
  background: transparent;
  padding: 8px 15px;
  margin: 10px 0;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #6e815d;
  width: 100%;
}
