.section {
    align-items: center;
    display: flex;
    background-size: cover;
    height: 80vh;
    padding: 0 150px;
}

p { font-size: 13px; }

.col {
    margin: 0 10px;
}

.btn-add-to-cart {
    width: 100%;
    background: #6E815D;
    margin: 10px 0;
    border-radius: 5px;
    border: 0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
}