form {
    background-color: gray;
    height: 100%;
}
mat-form-field {
    display: block;
  }
  
    
    .button-row {
      margin: 10px 0;
    }
    
    .mat-flat-button {
      margin: 5px;
    }