.aboutUsContainer {
    display: block;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    border: .5px solid gray;
    margin: 5px;
}

.aboutUsContainer .section-1 {
        height: 50vh;
        background-image: url(https://images.unsplash.com/photo-1547738238-5ddb16bef15f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
        color: #fff;
}

.aboutUsContainer .section-2 {
    overflow: hidden;
    margin: auto;
    height: 100%;
    width: 100%;
    color: #000;
    background-color: white;
  }

.aboutUsContainer .section-2 text-area {
    border: none;
    width: 100%;
    height: auto;
    margin: 3px;
    word-wrap: break-word;
}