<div class="d-flex justify-content-between align-items-center flex-wrap">
  <h3>Products</h3>
  <form class="form-inline">
    <!-- add new product modal button trigger -->
    <button
      type="button"
      class="btn btn-dark mr-2"
      data-toggle="modal"
      data-target="#modal"
    >
      Add new
    </button>
    <input class="form-control mr-2" type="search" placeholder="Search" />
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</div>

<!-- add new product modal -->
<div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          id="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="galleryForm" (ngSubmit)="onFormSubmit()">
          <div class="form-row">
            <div class="custom-file">
              <input
                type="file"
                class="custom-file-input"
                id="imageFile"
                formControlName="imageFile"
                (change)="onFileChange($event.target.files)"
              />
              <label class="custom-file-label" #labelImport for="imageFile"
                >Choose image</label
              >
            </div>
          </div>
          <div class="form-row">
            <input
              type="text"
              class="form-control"
              placeholder="Name"
              formControlName="name"
            />
          </div>
          <div class="form-row">
            <textarea
              class="form-control"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </div>
          <div class="form-row">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Php</span>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="Price"
                formControlName="price"
              />
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>
          </div>
          <div class="form-row">
            <input
              type="text"
              class="form-control"
              placeholder="Category"
              formControlName="category"
            />
          </div>
          <div class="form-row">
            <input
              type="number"
              value="0"
              class="form-control"
              placeholder="Stock Quantity"
              formControlName="stock_quantity"
            />
          </div>
          <div class="form-row">
            <div class="custom-control custom-switch">
              <input
                type="checkbox"
                class="custom-control-input"
                id="featured"
                formControlName="featured"
              />
              <label class="custom-control-label" for="featured"
                >Featured</label
              >
            </div>
          </div>
          <div class="modal-footer px-0">
            <div class="button-row">
              <button type="reset" class="btn btn-outline-dark">Clear</button>
              <button type="submit" class="btn btn-dark ml-2">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="products$">
  <div class="card my-2" *ngFor="let product of products$; let i = index">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center flex-wrap">
        <img src="https://i.imgur.com/gEdYbSe.jpg" width="100px" />
        <div class="mr-auto ml-3">
          {{ product.name }} <br />
          {{ product.price }} <br />
          In stock
        </div>
        <div class="align-self-start">
          <button
            class="btn p-0"
            [routerLink]="['/admin/adminProduct/', product._id]"
          >
            <i class="far fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
