  <table class="table" *ngIf="products$">
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Product Image</th>
        <th>Product Price</th>
        <th>Product Category</th>
        <th>Stock Quantity</th>
        <th>Featured</th>
        <th>Id</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$; let i = index" [routerLink]="['/admin/adminProduct/', product._id]">
        <td>{{product.name}}</td>
        <td><img src='{{product.imageUrl}}'></td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
        <td>{{product.stock_quantity}}</td>
        <td>{{product.featured}}</td>
        <td>{{product._id}}</td>
       <!-- <td><button type="button" class="btn btn-danger" (click)="deleteProduct(product._id)">Delete</button></td> -->
      </tr>
    </tbody>
  </table>
  