<nav *ngIf="!nav.visible"></nav>
<ribbon *ngIf="!ribbon.visible"></ribbon>
<footer *ngIf="!footer.visible"></footer>

<div class="jumbotron">
  <div class="container text-center loginContainer">
    <div class="card">
      <div class="card-body">
        <form novalidate #resetForm="ngForm" (ngSubmit)="resetPassword()">
          <div class="form-row">
            <div class="col">
              <input
                placeholder="Enter Email Address"
                type="text"
                [(ngModel)]="user.email"
                name="email"
                class="form-control"
                #email="ngModel"
                required
              />
            </div>
          </div>
        <p *ngIf="email.errors?.required" class="errorMsg" id="errorMsgUser">Email is required</p>
          <button
            type="submit"
            class="btn btn-login"
            [disabled]="resetForm.form.invalid"
          >
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
