<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="saveSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Password Reset Email Sent To Admin Email!</strong> You will only receive an email if the email you have entered is the admin email of our database
</div>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="saveFailure">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>An error occured!</strong> Sorry for the inconvenience
</div>
<nav *ngIf="!nav.visible"></nav>
<ribbon *ngIf="!ribbon.visible"></ribbon>
<footer *ngIf="!footer.visible"></footer>

<div class="jumbotron">
  <div class="container text-center loginContainer">
    <div class="card">
      <div class="card-body">
        <form novalidate #resetForm="ngForm" (ngSubmit)="resetPassword()">
          <div class="form-row">
            <div class="col">
              <input
                placeholder="Enter Email Address"
                type="text"
                [(ngModel)]="user.email"
                name="email"
                class="form-control"
                #email="ngModel"
                required
              />
            </div>
          </div>
        <p *ngIf="email.errors?.required" class="errorMsg" id="errorMsgUser">Email is required</p>
          <button
            type="submit"
            class="btn btn-login"
            [disabled]="resetForm.form.invalid"
          >
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
