<main role="main">
    <div class="jumbotron product-items">
        <div class="container-fluid">
            <div class="row">
                <div class="col px-3"><h3>Shop All</h3></div>
                <div class="col-2 px-3">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected disabled>Sort by</option>
                        <option value="1">Bracelets</option>
                        <option value="2">Necklaces</option>
                        <option value="3">Bestsellers</option>
                        <option value="3">New Arrival</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col px-md-3" routerLink="/product">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" class="img-fluid w-100">
                    </picture>
                    <div class="d-flex justify-content-between mt-3">
                        <div><h5>Sol and Luna Necklace</h5></div>
                        <div><h5>Php 450</h5></div>
                    </div>
                </div>
                <div class="col px-md-3">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" class="img-fluid w-100">
                    </picture>
                    <div class="d-flex justify-content-between mt-3">
                        <div><h5>Sol and Luna Necklace</h5></div>
                        <div><h5>Php 450</h5></div>
                    </div>
                </div>
                <div class="col px-md-3">
                    <picture>
                        <img src="https://images.unsplash.com/photo-1561828995-aa79a2db86dd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80" class="img-fluid w-100">
                    </picture>
                    <div class="d-flex justify-content-between mt-3">
                        <div><h5>Sol and Luna Necklace</h5></div>
                        <div><h5>Php 450</h5></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>