<h2>Content Management</h2>
<div class="card">
  <div class="card-header">
    <div class="subtitle">Update Ribbon</div>
  </div>
  <div class="card-body">
    <div *ngIf="ribbons$">
      <div class="input-group" *ngFor="let ribbon of ribbons$">
        <form
          class="form-inline"
          [formGroup]="ribbonForm"
          (ngSubmit)="updateRibbon(ribbon._id)"
        >
          <input
            type="text"
            class="form-control"
            formControlName="ribbon"
            placeholder="{{ ribbon.ribbon }}"
          />
          <div class="input-group-append">
            <button
              class="btn btn-juliet ml-2"
              type="submit"
              [disabled]="ribbonForm.invalid"
            >
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
