/* You can add global styles to this file, and also import other style files */
@import '~bs-stepper/dist/css/bs-stepper.min.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 120vh;
    font-family: 'Work Sans', sans-serif;
}