body {
  overflow-x: hidden; 
}

a:hover {
  text-decoration: none;
}
* {
	outline: none;
}
p {
  font-size: large;
}

.title {
  font-family: "Playfair Display", serif;
}

.title-border {
  position: relative;
  display: block;
}

.title-border:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 15px auto;
  width: 50px;
  height: 1px;
  background: #aaa;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.jumbotron {
  align-items: center;
  display: flex;
  background-size: cover;
  background-color: transparent;
  margin: 0;
  border-radius: 0;
}

.section-1 {
  background-image: url(https://images.unsplash.com/photo-1584302179602-e4c3d3fd629d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  height: 90vh;
  color: #fff;
  margin: 0;
}

.section-2 {
  overflow: hidden;
  margin: 60px 0 0 0;
  height: 30vh;
  width: 100%;
}
.section-2 .container {
  width: 50em;
}

.section-3 {
  padding: 30px 0 60px 0;
  overflow: hidden;
  margin: 0;
  height: auto;
  width: 100%;
}

.section-4 {
  overflow: hidden;
  margin: 0;
  padding: 80px;
  height: auto;
  width: 100%;
  background-color: #e7edeb;
}
.section-6 {
  background-image: url(https://images.unsplash.com/photo-1506630448388-4e683c67ddb0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
  overflow: hidden;
  margin: 0;
  height: 80vh;
  width: 100%;
}

.section-5 {
  height: 80vh;
  padding: 0 240px;
}

.bg1 {
  height: 40vh;
  width: auto;
}

.bg2 {
  background-color: #e7edeb;
  width: 250px;
  height: 500px;
}

.bg3 {
  background-color: #e7edeb;
}

.text {
  position: relative;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
}

.btn-shop-now {
  background: #6e815d;
  padding: 8px 15px;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}

.btn-shop-now:hover {
  background: transparent;
  padding: 8px 15px;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #6e815d;
}

.card,
.card-img-top {
  border: 0;
  border-radius: 0;
}

.card-body {
  padding: 10px 0;
}

.card-title,
.card-text {
  font-size: 15px;
}

.desktop-card-img {
  width: 200px;
}

.bg {
  background-color: #e7edeb;
}
.img-hover-zoom {
   /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  overflow: hidden;
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  overflow: hidden;
  transform: scale(1.3);
}
/* pt-3 pl-3 ml-1 */

.back-to-top {
    background-color: #6e815d;
    color: #FFFFFF;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
  }

  .back-to-top .i {
    color: #FFFFFF;
    background-color: #ffffff;
  }

  .back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
    color: #FFFFFF;
  }

  .back-to-top.show {
    opacity: 1;
  }

  a {
    color: black;
  }

  app-root {
    display: block;
 }
 .section-7 {
  background: #1f1207;
  height: 15vh;
  color: white;
  width: 100%;
}

.section-7 .col {
  width: 500px;
}

.section-7 p,
.section-7 span {
  font-family: Quicksand;
  font-size: 10pt;
  width: 100%;
}

.section-7 p {
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .section-2 {
    overflow: hidden;
    margin: 40px 0 0 0;
    height: 30vh;
    width: 100%;
  }
  .section-5 {
    height: 80vh;
    padding:0;
  }
  
.section-3 {
  padding: 40px 0 40px 0;
  overflow: hidden;
  margin: 0;
  height: auto;
  width: 100%;
}

}

@media (max-width: 768px) {
  div h6 {
    position: relative;
    bottom: 40px;
    left: 12px;
    text-align: left !important;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section-5 {
    height: 80vh;
    padding:0;
  }
}
@media (max-width: 768px) {
  .section-7 {
      height: 100%;
    }
  
    .section-7 span, .section-7 p {
      font-size: 100%;
    }
  
    .section-7 .col {
      
      padding: 4em;
    }
  }