<!-- desktop view -->
<div *ngIf="!isMobile">
  <nav *ngIf="nav.visible"></nav>
  <ribbon *ngIf="ribbon.visible"></ribbon>
  <footer *ngIf="footer.visible"></footer>

  <main role="main">
    <!-- section 1 -->
    <section class="jumbotron section-1 text-center">
      <div class="container">
        <div class="display-5">
          Wear something unique.<br />Chic doesn't have to be expensive.
        </div>
      </div>
    </section>

    <!-- section 2 -->
    <section class="jumbotron section-2 text-center" data-aos="fade-up" data-aos-duration="1200">
      <div class="container">
        <p>
          Made with delicate handwork, specially delivered to you. Anticipate
          the upcoming sets and accessories soon, only here in Juliet.
        </p>
        <a routerLink="/shop" class="btn btn-shop-now">Shop Now</a>
      </div>
    </section>

    <!-- section 3 -->
    <div class="jumbotron section-3" data-aos="fade-up" data-aos-duration="1200">
      <div class="container">
        <div class="d-flex flex-row justify-content-center">
          <div class="p-2">
            <div class="img-hover-zoom"> <img src="https://i.imgur.com/IcZOQ6L.jpg" class="img-fluid" /></div>
            <div>
              <h6 class="text-uppercase text-center mt-3">Shop Necklaces</h6>
            </div>
          </div>
          <div class="p-2">
            <div class="img-hover-zoom"> <img src="https://i.imgur.com/Sf1cid0.jpg" class="img-fluid" /></div>
            <div>
              <h6 class="text-uppercase text-center mt-3">Shop Earrings</h6>
            </div>
          </div>
          <div class="p-2">
            <div class="img-hover-zoom"> <img src="https://i.imgur.com/aDlziCg.jpg" class="img-fluid" /></div>
            <h6 class="text-uppercase text-center mt-3">
              Shop Bracelets and Anklets
            </h6>
          </div>
        </div>
      </div>
    </div>

    <!-- section 4 -->
    <div class="jumbotron section-4" data-aos="fade-up" data-aos-duration="1200">
      <div class="container-fluid">
        <div class="d-flex flex-row justify-content-center mb-5">
          <div class="align-self-center bg1">
            <div class="text">
              <div class="subtitle">Juliet Bestseller</div>
              <h2 class="title">Pressed Flower Collection</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                consectetur a felis eget commodo. Nullam eu consequat dolor.
                Aenean suscipit.
              </p>
              <a routerLink="/shop" class="btn btn-shop-now">Shop Now</a>
            </div>
          </div>
          <div class="align-self-center">
            <img src="https://i.imgur.com/ih3wcF7.jpg" width="350px" height="400px" />
          </div>
          <!-- <div class="align-self-center bg2"></div> -->
        </div>
        <div class="d-flex flex-row justify-content-center mt-5">
          <div class="align-self-center">
            <img src="https://i.imgur.com/ih3wcF7.jpg" width="350px" height="400px" />
          </div>
          <div class="align-self-center bg1">
            <div class="text align-text-right">
              <div class="subtitle">Juliet Bestseller</div>
              <h2 class="title">Pressed Flower Collection</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                consectetur a felis eget commodo. Nullam eu consequat dolor.
                Aenean suscipit.
              </p>
              <a routerLink="/shop" class="btn btn-shop-now">Shop Now</a>
            </div>
          </div>
          <!-- <div class="align-self-center bg2"></div> -->
        </div>
      </div>
    </div>

    <!-- section 5 -->
    <div class="jumbotron section-5" data-aos="fade-up" data-aos-duration="1200">
      <div class="container">
        <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="false"
          [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template pTemplate="header">
            <h5 class="mb-5 text-center">You might like</h5>
          </ng-template>
          <ng-template let-product pTemplate="item">
            <div class="d-flex flex-row justify-content-center">
              <div class="product-item" [routerLink]="['/product/', product._id]">
                <div class="product-item-content">
                  <div class="card">
                    <img src="{{ product.imageUrl }}" class="card-img-top desktop-card-img img-fluid" />
                    <div class="card-body">
                      <div class="card-text">
                        <span style="font-weight: bold;">{{ product.name }}</span> <br />Php {{ product.price }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <a href="#" id="back-to-top" class="back-to-top" style="display: inline;">
      <i class="fa fa-arrow-up pt-3 pl-2 ml-2"></i>
    </a>
  </main>
</div>

<!-- mobile view -->
<div *ngIf="isMobile">
  <ribbon *ngIf="ribbon.visible"></ribbon>
  <section class="jumbotron text-center">
    <div class="container" data-aos="fade-up" data-aos-duration="1200">
      <div class="img-hover-zoom"> <img src="https://i.imgur.com/IcZOQ6L.jpg" class="img-fluid" /></div>
      <div>
        <h6 class="text-uppercase text-center mt-3">Shop Necklaces</h6>
      </div>
      <div class="img-hover-zoom"> <img src="https://i.imgur.com/Sf1cid0.jpg" class="img-fluid" /></div>
      <div>
        <h6 class="text-uppercase text-center mt-3">Shop Earrings</h6>
      </div>
      <div class="img-hover-zoom"> <img src="https://i.imgur.com/aDlziCg.jpg" class="img-fluid" /></div>
      <div>
        <h6 class="text-uppercase text-center mt-3">Shop Bracelets and Anklets</h6>
      </div>
    </div>
  </section>
  <section class="jumbotron text-center" data-aos="fade-up" data-aos-duration="1200">
    <div class="container">
      <div class="card">
        <img src="https://i.imgur.com/jeBLPq1.jpg" class="card-img-top img-fluid" />
        <div class="card-body bg3">
          <div class="card-text p-3">
            <div class="subtitle mb-1">Pressed Flower Collection</div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            consectetur a felis eget commodo. Nullam eu consequat dolor. Aenean
            suscipit.
          </div>
        </div>
      </div>
    </div>
  </section>
  <a href="#" id="back-to-top" class="back-to-top" style="display: inline;">
    <i class="fa fa-arrow-up pt-3 pl-2 ml-2"></i>
  </a>
</div>
