a:hover {
  text-decoration: none;
}

p {
  font-size: 1.5vw;
}

.title {
  font-family: "Playfair Display", serif;
}

.title-border {
  position: relative;
  display: block;
}

.title-border:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 15px auto;
  width: 50px;
  height: 1px;
  background: #aaa;
}

.subtitle {
  font-size: 12px;
  letter-spacing: .75px;
  text-transform: uppercase;
}

.jumbotron {
  align-items: center;
  display: flex;
  background-size: cover;
  background-color: transparent;
  margin: 0;
  border-radius: 0;
}

.section-1 {
  background-image: url(https://images.unsplash.com/photo-1584302179602-e4c3d3fd629d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  height: 90vh;
  color: #fff;
}

.section-2 {
  overflow: hidden;
  margin: auto;
  height: 100%;
  width: 100%;
  margin: 1.3vw 0;
}
.section-2 a {
  margin: 1vw 0;
}

.section-3 {
  margin: 1.3vw 0;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

.section-4 {
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}

.section-5 {
  height: 100%;
  width: 100%;
}

.bg1 {
  background-color: #e7edeb;
  width: 100%;
  height: 100%;
}

.bg2 {
  background-color: #e7edeb;
  width: 250px;
  height: 500px;
}

.text {
  position: relative;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* width: 100%; */
  /* margin-top: 20vh; */
  /* margin-left: 10vh; */
  margin: 15vh 0 10vh 10vh;
}

.pic-1 {
  position: relative;
  /* height: 300px; */
  width: 300px;
  /* top: 10%;
  left: 30%; */
  margin: 5vh 15vh;

}



.btn-shop-now {
  background: #6e815d;
  padding: 8px 15px;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
}

.btn-shop-now:hover {
  background: transparent;
  padding: 8px 15px;
  border-radius: 0;
  border: 1px solid #6e815d;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #6e815d;
}

.card,
.card-img-top {
  width: 200px;
  border: 0;
  border-radius: 0;
}

.card-body {
  padding: 10px 0;
}

.card-title,
.card-text {
  font-size: 15px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pic-1 {
    margin: 10vh 9vh;
  }

  #sec {
    width: 400px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  /* .col-lg-4,
  .col-md-6 {
    align-items: center;
    flex: 0 0 auto;
  } */

  .text { 
    margin-top: 40vh;
    margin-left: 30vh;
    text-align: center;
  }


  #sec {
    width: 450px;
  }

  .text p {
    font-size: 12pt;
    height: 100%;
  }

  .title {
    font-size: 25pt;
  }

  .text {
    margin: 15vh;
  }
  
  .sec3 {
    left: 25%;
  }

}

@media (max-width: 767px) {

  /* .col-lg-4,
  .col-md-6 {
    align-items: center;
    flex: 0 0 auto;
  } */

  .text {
    margin-top: 20vh;
    margin-left: 1vh;
    text-align: center;
  }

  .card-text,
  .card-title {
    text-align: center;
  }



}

@media (max-width: 479px) {
  .text {
    margin-top: 40vh;
    margin-left: 1vh;
    text-align: center;
  }

  #sec {
    width: 350px;
    height: 350px;
  }

  .card-img-top {
    width: 200px;
    height: 200px;
  }

  .text p {
    font-size: 10pt;
    height: 100%;
  }

  .title {
    font-size: 20pt;
  }

  .text {
    margin-top: 15vh;
  }
  
  .section-3 .row {
    align-items: center;
  }
}

@media (max-width: 320px) {
  .card-img-top {
    width: 200px;
    height: 200px;
  }

  #sec {
    width: 200px;
    height: 200px;
    margin: 0 20px 0;
  }

  .text p {
    font-size: 8pt;
    height: 100%;
  }

  .title {
    font-size: 15pt;
  }

  .text {
    margin-top: 15vh;
  }
}
