<nav *ngIf="!nav.visible"></nav>
<ribbon *ngIf="!ribbon.visible"></ribbon>
<footer *ngIf="!footer.visible"></footer>

<div class="jumbotron" *ngIf="admin">
  <div class="container text-center loginContainer">
    <div class="card">
      <div class="card-body">
        <form novalidate #resetForm="ngForm" (ngSubmit)="updatePassword()">
          <div class="form-row">
            <div class="col">
              <input
                placeholder="Enter New Password"
                type="password"
                [(ngModel)]="user.password"
                name="password"
                class="form-control"
                #password="ngModel"
                required
              />
            </div>
          </div>
        <p *ngIf="password.errors?.required" class="errorMsg" id="errorMsgUser">Password is required</p>
          <button
            type="submit"
            class="btn btn-login"
            [disabled]="resetForm.form.invalid"
          >
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<h1 *ngIf ="!admin">
    WALANG ADMIN NA GANTO BRO
</h1>
